* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bellota', cursive;
  font-size: 16px;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  background-color: coral;
  width: 100%;
}

.title {
  font-size: 2.5em;
  margin: 10px;
  color: #fff;
}

.container {
  width: 100%;
  position: relative;
}

.btnPrev, .btnNext {
  width: 120px;
  height: 120px;
  border: none;
  border-radius: 50%;
  font-size: 4em;
  background-color: coral;
  color: #fff;
  position: absolute;
  z-index: 1;
  top: 35%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.btnPrev {
  left: 5%;
}

.btnNext {
  right: 5%;
}

.slides {
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-animal {
  width: 300px;
  height: 300px;
  margin: 10px;
}

.word-fill, .word-empty {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 5px;
}

.word-fill {
  margin-bottom: 30px;
}

.letter-fill, .letter-empty {
  padding: 10px;
  margin-right: 10px;
  font-size: 3em;
  font-weight: 700;
  width: 80px;
  height: 80px;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
}

.letter-fill {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  background-color: coral;
  color: #fff;
  border: 2px solid #fff;
  cursor: grab;
}

.letter-fill:active {
  cursor: grabbing;
}

.letter-empty {
  background-color: #fff;
  color: #C0C0C0;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2);
  border: 2px solid #C0C0C0;
  position: relative;
}

.dragged-letter {
  background-color: coral;
  font-size: 1em;
  position: absolute;
  top: 0;
  left: 0;
}

.footer {
  display: flex;
  justify-content: center;
  font-size: 0.7em;
  font-weight: 700;
  margin-top: 10px;
}
